html {
  background-color: rgb(235, 235, 235);
  text-rendering: optimizeLegibility;
}

.logo {
  /* background-image: url(logo.jpg); */
  background-size: cover;
  width: 80px;
  height: 80px;
}

h4 {
  margin-top: 5px;
}

.switch {
  margin-top: 9px;;
}

.logo-text {
  text-transform: uppercase;
  width: 200px;
  font-family: 'Archivo Black', sans-serif;
  font-size: 30px;
  color: #1ABB9C;
  text-align: left;
  margin-top: 10%;
}

.card-header{
  text-transform: uppercase;
  font-size: 40px;
  background-color: #dbdbdb;
}

.card {
  width: 350px;
  margin-top: 20px;
  transition: all .3s ease-in-out;
}

.card:hover {
  transform: scale(1.005);
  -webkit-box-shadow: 10px 10px 21px -8px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 21px -8px rgba(0,0,0,0.5);
  box-shadow: 10px 10px 21px -8px rgba(0,0,0,0.5);
}

.navbar {
  -webkit-box-shadow: 10px 10px 21px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 21px -8px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 21px -8px rgba(0,0,0,0.75);
}

.btn-group {
  margin-top: 20px;
}

.container {
  padding-top: 100px
}

.modal-footer {
  margin-top: 20px;
}

footer {
  background-color: #343A40;
  margin-top: 20px;
  color: #dbdbdb;
}

.btn-footer {
  /* width: 500px; */
}
